<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Generate new password in <span style="font-weight: bold;">Your<span style="color: gray;">Car </span></span> Store</h3>
		<div class="card-text">
			
		
			<form id="signInForm" method="post" action="/api/users/sendEmail" onsubmit=' validation(event)'; >
			
				<div class="form-group">
								
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control form-control-sm" id='InputEmail' name='InputEmail' aria-describedby="emailHelp">
				</div>
			
				<button type='submit'  id='submitUser' class="btn btn-primary btn-block">Send Email</button>
					
				
			</form>
		</div>
	</div>
</div>
</div>

<script src="/js/regenaratePass.js"></script>