
		<nav>
			<header class="container mt-5">
		
	  <div class="row">
		  
		<div class="col-md-3">
			
				<!-- img src="img/logo.png"--> 
				<h1 class="text-dark"><span>Your<span class="text-secondary">Car.</span></span></h1>
				<small class="text-dark">Car Shopping Mall</small>
				

		</div>

		<div class="col-md-5">
		   
		 
	

		
			
		</div>

		<div class="col-md-4">
			
			<div class="dropdown float-right" id="mini-cart" data-component-cart>
			  <a class="btn btn-link dropdown-toggle bg-faded p-0 chevron-big" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="bi bi-cart d-inline-block" style="font-size:42px"><span class="cart-items" data-total_items></span></i>&ensp; <div class="d-inline-block text-dark"><span class="small d-block text-left">Your cart</span><span class="font-weight-bold" data-total></span>
        </div>
			  </a>



			</div>
			
			<div class="dropdown float-right" id="mini-user" data-component-user>
			  <a class="btn btn-link dropdown-toggle bg-faded p-0 chevron-big" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="bi bi-person d-inline-block" style="font-size:42px"></i>&ensp; 
				
				<div class="d-inline-block text-dark" data-if="login">
					<span class="small d-block text-left">My account</span>
					<span class="font-weight-bold">Login/Register</span>
				</div>
				
			  </a>

			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="#">Register</a>
				<a class="dropdown-item" href="#">Login</a>
			  </div>
			</div>
			
		</div>
	  
	  </div>

	
   


    </header>
		</nav><br>
  <main class="container-fluid m-auto">
			<section class="row" style="height: 82vh">
        <h4 style="text-align: center; padding: 5rem; color:red">{{message}}</h4>

    </section>

    </main>