<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Sign in to <span style="font-weight: bold;">Your<span style="color: gray;">Car </span></span> Store</h3>
		<div class="card-text">
			
		
			<form id="signInForm" method="post" action="/api/users/updatePassword" onsubmit=' validation(event)'; >
			

				<div class="form-group">
					
					
									
					
					<label for="exampleInputEmail1">Email address</label>
					<input type="email"   class="form-control form-control-sm" id='InputEmail' value={{user}} name='InputEmail' aria-describedby="emailHelp">
				</div>
			
				<div class="form-group">
					<label for="exampleInputPassword1">Set password</label>
					
					<input type="password" class="form-control form-control-sm" id='InputPassword' name='InputPassword' >
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Repeat password</label>
					
					<input type="password" class="form-control form-control-sm" id='ReInputPassword' name='ReInputPassword' >
				</div>
				<button type='submit'  id='submitUser' class="btn btn-primary btn-block">Reset password</button>
				
			
				
			</form>
		</div>
	</div>
</div>
</div>

<script src="/js/resetPass.js"></script>